$spacing-smallest: var(--space-xxs);
$spacing-smaller: var(--space-xs);
$spacing-small: var(--space-s);
$spacing-medium: var(--space-base);
$spacing-large: var(--space-m);
$spacing-larger: var(--space-l);
$spacing-largest: var(--space-xl);