// Bootstrap
//no template-grid

// Atlas
// @import "../../../../../atlas_core/web/core/widgets/template-grid";
@import "../../../../../atlas_core/web/core/helpers/template-grid";

// @include template-grid();
@include template-grid-helpers();

//Customizations

.mx-templategrid {
    .mx-templategrid-content-wrapper {
        table-layout: fixed;
    }

    .mx-templategrid-item {
        padding: var(--space-base) var(--space-base) var(--space-base) var(--space-base);
        cursor: default;
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }

        &.selected {
            background-color: color-mix(in srgb, var(--#{$prefix}border-color), var(--#{$prefix}white) 30%) !important;
        }
    }

    .mx-layoutgrid {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    // Templategrid Layoutgrid styles
    &[class*="tg-col"] {

        .mx-templategrid-row {
            margin-right:calc( -1 * var(--space-s));
            margin-left:calc( -1 * var(--space-s));
        }

        .mx-templategrid-item {
            // bootstrap col
            padding-right: var(--space-s);
            padding-left: var(--space-s);
        }
    }
}

.templategrid{

    // Lined
    &-lined.mx-templategrid {
        .mx-grid-content {
            border-top-width: var(--space-xxs);
            border-top-color: var(--#{$prefix}border-color);
        }

        .mx-templategrid-item {
            border-top: 1px solid var(--#{$prefix}border-color);
            border-bottom: 1px solid var(--#{$prefix}border-color);
            
        }
    }

    // Striped
    &-striped.mx-templategrid {
        .mx-templategrid-row:nth-child(odd) .mx-templategrid-item {
            background-color: var(--#{$prefix}gray-100);
        }
    }

    // Hover
    &-hover.mx-templategrid {
        .mx-templategrid-item {
            &:hover {
                background-color: color-mix(in srgb, var(--#{$prefix}border-color), var(--#{$prefix}white) 20%) !important;
            }

            &.selected {
                background-color: color-mix(in srgb, var(--#{$prefix}border-color), var(--#{$prefix}white) 30%) !important;

                &:hover {
                    background-color: color-mix(in srgb, var(--#{$prefix}border-color), var(--#{$prefix}white) 50%) !important;
                }
            }
        }
    }

    // Templategrid Row Sizes
    &-lg.mx-templategrid {
        .mx-templategrid-item {
            padding: calc(var(--space-base)* 2) calc(var(--space-base) * 2) calc(var(--space-base) * 2) calc(var(--space-base) * 2);
        }
    }

    &-sm.mx-templategrid {
        .mx-templategrid-item {
            padding: calc(var(--space-base)/ 2) calc(var(--space-base) / 2) calc(var(--space-base) / 2) calc(var(--space-base) / 2);
        }
    }
}